body{
    background-color: purple;
}

h1{

    font-family: sans-serif;
    text-align: center;
}

div{ 
    background-color: aquamarine;
    border: 1px solid   black;
    text-align: center;
    margin: auto;
}

a{
    color: red;
    text-decoration: none;
}